body{
    position: relative;
    margin: 0;
    background-color: lavender;
    
    
}
.form{
    
    position: absolute;
    margin-bottom: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin-top: 5vh;

}
h3{
    color: rgb(56, 43, 138);
    font-size: 35px;
    font-family: 'Genos', sans-serif;
    
}
#radio{
    width: 30mm;
    height: 10mm;
    border-radius: 20px;
    border: 2px solid rgb(152, 116, 182);
    text-align: center;
    color: rgb(15, 17, 16);
    font-family: 'Genos', sans-serif;
    font-size: 17px;
}
.btn{
    width: 15mm;
    height: 10mm;
    border-radius: 20px;
    margin-left: 5px;
    border: 2px solid rgb(152, 116, 182);
    color: rgb(138, 30, 165);
    background-color: transparent;
    font-family: 'Genos', sans-serif;
    font-size: 17px;
    padding: 2px;

}
#circle{

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin-top: 45vh;
    
}
